---
---

/* $body-text-color: #000000; */
/* $code-text-color: #000000; */

@import "{{ site.theme }}";

body {
    color: black !important;
}

code {
    color: black !important;
}

pre {
    color: black !important;
    > code {
        color: black !important;
    }
}

.main-content {
    font-size: 1rem !important;
}

